*{
  box-sizing: border-box;
  margin: 0;
  padding: px;
}

body {
  margin: 5px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 0px 60px;
  text-align: center;
  text-decoration: none;


}


.header a{
  display: flex;
  align-items: center;
  justify-content: center;

        font-size: 22px;

        height: 50px;
        text-decoration: none;

color: #000;
    }

  .header a:hover{

      /* background:#BADA55; */

    }

.header ul {
      	display: flex;
        list-style: none;

    }

.header ul li {

      width: 100%;
      text-align: center;
      position: relative;

    }

  .header li:hover .dropdown >li{
top: 0;
display: block;
 background:rgba(152, 238, 144,.8);
  /* color: #6f9445; */
}

.dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 30px;

}

.dropdown li{
  display: none;
position: relative;
}

.dropdown ul li{
  display: none;
  position: relative;
}



a:link {
   text-decoration: none;

  }



/* a:visited{
  color:#BADA55;
} */

a:hover {
  /* color:rgba(0,0,0,.8); */
  color: #6f9445;

}



body {
  background-image: url(images/the.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color:  #90ee90;
}

h1 {
  padding: 20px 0px 10px 0px;
  /* color: #6f9445; */
  /* color:#BADA55; */
  color: pink;
}



img {
display: block;
margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
margin-top: 60px;
padding: 40px;
background-color: #f7f7f7;
}

#bg{
  background-color: #6f9445;
  background-size: cover;
  background-repeat: no-repeat;

}

.tu2{
  float: left;
   width: 300px;

   padding: 10px;


}


.final{
  float: right;
  width: 300px;

  padding: 300px;

}

.center{
text-align: center;
margin: 30px;
padding:10px;
text-indent: 50px;

}
