
body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  text-decoration: none;
//color: purple;//
}


.header {
        padding: 0px;
        text-align: center;
        font-size: 22px;
    }

.header ul {
      	display: flex;
        justify-content: center;
    }

.header ul li {
    	list-style-type:none;
    	display: list-item;
    	line-height: 10px;
      padding: 10px 70px 10px 0px;
    }

a:link {
   text-decoration: none;

  }

  a {
  color: 		#2E8B57;
  text-decoration: none;
  }

/* a:visited{
  color:#BADA55;
} */

a:hover {
  color: black;

}
/*
a {
color: 		#228B22;
text-decoration: none;
} */



body {
  background-image: url(images/the.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding: 20px 0px 10px 0px;
}

/* Centers images */

img {
display: block;
margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
margin-top: 60px;
padding: 40px;
background-color: #f7f7f7;
}


.tu2{
  float: left;
   width: 300px;

   padding: 10px;


}


.final{
  float: right;
  width: 300px;

  padding: 300px;

}
/*
#div{
float:left ;
margin-left: 300px;

} */
